#contact {
    width: 100%;
    height: 500px;
    background-color: #313131;
    scroll-snap-align: center;
}

#contact div.social {
    margin-top: -10px;
    margin-left: 130px;
    width: 40%;
    height: 500px;
    background-color: #313131;  
    float: left;  
}

#contact div.social div.Contact-Me h1 {
    font-size: 30px;
    color: #DF841C;
    text-align: center;
}

#contact div.social div.Contact-Me hr {
    margin: auto;
    width: 40%;
    height: 3px;
    background-color: #DF841C;
    border: #DF841C;
    border-radius: 2px;
}

#contact div.social div.Contact-Me p {
    color: white;
    font-size: 21px;
    padding-top: 20px;
    padding-bottom: 40px;
}

#contact div.social div.logo1 {
    width: 90%;
    height: 50px;
    float: left;  
}

#contact div.social div.logo1 {
    width: 90%;
    height: 50px;
    float: left;    
}


#contact div.social div.logo1 p {
    float: right;
    font-size: 21px;
    padding-right: 240px;
    padding-top: 10px;
    color: white;
}

#contact div.social div.logo2 {
    width: 90%;
    height: 50px;
    float: left;
    margin-top: 20px;
}

#contact div.social div.logo2 img {
    margin-top: 4px;  
}

#contact div.social div.logo2 a {
    float: right;
    font-size: 21px;
    padding-right: 120px;
    padding-top: 10px;
    color: white;
    text-decoration: none;
}

#contact div.social div.logo3 {
    width: 90%;
    height: 50px; 
    float: left;
    margin-top: 20px;
}

#contact div.social div.logo3 img {
    margin-top: 4px;  
}

#contact div.social div.logo3 a {
    float: right;
    font-size: 21px;
    padding-right: 95px;
    padding-top: 10px;
    color: white;
    text-decoration: none;
}

#contact div.social div.logo4 {
    width: 90%;
    height: 50px;
    float: left;
    margin-top: 20px;
}

#contact div.social div.logo4 img {
    margin-top: 4px;  
}

#contact div.social div.logo4 a {
    float: right;
    font-size: 21px;
    padding-right: 190px;
    padding-top: 10px;
    color: white;
    text-decoration: none;
}

#contact div.design2 {
    width: 40%;
    height: 500px;
    float: right;
    margin-right: 50px;
    margin-top: -10px;
}